/* Desktops and laptops ----------- */
@media only screen  and (max-width : 1224px) {
/* Styles */

}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

/* Components */

.carousel-mover:hover {
  display: block;
}

/* Navigation Component */

* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #e0e0e0;
}

nav ul a {
  color: black;
}

nav .brand-logo {
  background: url('../images/logo-dark.png');
  background-size: contain;
  height: 60px;
  width: 60px;
  padding: 20px;
  box-sizing: border-box;
}

.brand-logo img {
  height: 100%;
}

/* Item Detail */

.item-detail-carousel-container {
  height: 600px;
  padding: 1.46rem 0px 0px 30px;
}

/* Typography */

.divider {
  margin: 20px 0 20px 0;
}

p {
  font-size: 19px;
  line-height: 24px;
  font-weight: 300;
  color: black;
}

a, li {
  color: black;
}

