.page-container {
	margin: 0px 20px 0 20px;
}

.vw-m-1 { width: 8.333vw; }
.vw-m-2 { width: 16.666vw; }
.vw-m-3 { width: 25vw; }
.vw-m-4 { width: 33.333vw; }
.vw-m-5 { width: 41.666vw; }
.vw-m-6 { width: 50vw; }
.vw-m-7 { width: 58.333vw; }
.vw-m-8 { width: 66.666vw; }

.horizontal-gallery {
  width: 200vw;
}

.inline-block { display: inline-block; }
.border-box { box-sizing: border-box; }

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
  .vw-m-1 { width: 8.333vw; }
  .vw-m-2 { width: 16.666vw; }
  .vw-m-3 { width: 25vw; }
  .vw-m-4 { width: 33.333vw; }
  .vw-m-5 { width: 41.666vw; }
  .vw-m-6 { width: 50vw; }
  .vw-m-7 { width: 58.333vw; }
  .vw-m-8 { width: 66.666vw; }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
  .vw-m-1 { width: 8.333vw; }
  .vw-m-2 { width: 16.666vw; }
  .vw-m-3 { width: 25vw; }
  .vw-m-4 { width: 33.333vw; }
  .vw-m-5 { width: 41.666vw; }
  .vw-m-6 { width: 50vw; }
  .vw-m-7 { width: 58.333vw; }
  .vw-m-8 { width: 66.666vw; }
}